<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web for AI App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="{{url_for('static', filename='images/logo.png')}}" 
                 style="height:50px; margin-left:50px; margin-right:100px;"
                 class="d-inline-block align-top" alt="">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if menu.home %}active{% endif %}" href="/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </li>
            </ul>
            <div class="navbar-text" id="clock">
                시계 영역
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link {% if menu.regression %}active{% endif %}" 
                        href="{% if menu.regression %}#{% else %}/regression{% endif %}">회귀</a></li>
                    <li class="nav-item"><a class="nav-link {% if menu.senti %}active{% endif %}" 
                        href="{% if menu.senti %}#{% else %}/senti{% endif %}">감성분석</a></li>
                    <!-- <li class="nav-item"><a class="nav-link {% if menu.classification %}active{% endif %}" 
                        href="{% if menu.classification %}#{% else %}/classification{% endif %}">분류</a></li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if menu.classification %}active{% endif %}" href="#" 
                           id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            분류
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/iris_classification">아이리스 분류</a>
                            <a class="dropdown-item" href="/classification">이미지 분류</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link {% if menu.clustering %}active{% endif %}" 
                        href="{% if menu.clustering %}#{% else %}/clustering{% endif %}">군집화</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" 
                           id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            팀 멤버
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">김민우</a>
                            <a class="dropdown-item" href="#">김태균</a>
                            <a class="dropdown-item" href="#">서폴드</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <h3>{% block sub_title %}서브 타이틀{% endblock %}</h3>
                <hr>
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
            <span class="navbar-text">
                Copyright &copy; 2020 C.K.Kim
            </span>
        </nav>
    </div>
    {% block addition %}
    {% endblock %}
    {% include 'inc/clock.html' %}
</body>
</html>