{% extends "base.html" %}
{% block sub_title %}다중 선형회귀 - <small>Sepal Width는?</small>{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form action="/regression" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td>Sepal Length</td>
                        <td><input type="text" class="form-control" id="slen" name="slen"></td>
                    </tr>
                    <tr>
                        <td>Petal Length</td>
                        <td><input type="text" class="form-control" id="plen" name="plen"></td>
                    </tr>
                    <tr>
                        <td>Petal Width</td>
                        <td><input type="text" class="form-control" id="pwid" name="pwid"></td>
                    </tr>
                    <tr>
                        <td>품종</td>
                        <td>
                            <select class="form-control" id="species" name="species">
                                <option value="0">Setosa</option>
                                <option value="1" selected>Versicolor</option>
                                <option value="2">Virginica</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}