.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
uploads/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Added by CKKim
.ipynb_checkpoints/
model/
uploads/